/*Style de la partie id.*/
/*Variables (polices, couleurs...) déclarées dans ../styles.css*/

.all
{
  padding: 2%;
  background-color: var(--black);
}

.all > h2, .all > h3
{
  color: var(--white);
  text-align: center;
}

.id
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  padding-bottom: 2%;
  border-bottom: 4px var(--dark_black) solid;
}

.image
{
  width: 20%;
}

.image > img
{
  width: 100%;
  border: 2px var(--dark_black) solid;
  box-shadow: 10px 10px var(--dark_black);
}

.nom, .coordonnees
{
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 20%;

  text-align: center;
  font-size: larger;

  color: var(--white);
}

.separateur
{
  align-self: center;
  width: 0.1%;
  height: 10em;
  background-color: var(--white);
}

@media screen and (max-width: 1400px) {
  .id
  {
    flex-direction: column;
    justify-content: center;
  }

  .image
  {
    width: 30%;
    align-self: center;
  }

  .nom, .coordonnees
  {
    width: 55%;
    font-size: medium;
    align-self: center;
  }

  .separateur
  {
    height: 0;
    visibility: hidden;
  }

  .all > h3
  {
    padding-bottom: 2%;
    border-bottom: 2px var(--white) solid;
  }
}
