<div class="all">
  <h2>Bienvenue sur mon portfolio !</h2>
  <h3>Étudiante en informatique l'ETNA - Développeuse web en recherche d'alternance</h3>
  <section class="id">
    <section class="nom">
      <p>Julie BONHOMME</p>
      <p><a href="https://github.com/Majonnie" target="_blank">> Mon Github <</a></p>
      <p><a href="https://www.linkedin.com/in/bonhomme-julie/" target="_blank">Mon LinkedIn</a></p>
    </section>

    <div class="separateur"></div>

    <section class="image">
      <img src="assets/photo_linkedin.jpg">
    </section>

    <div class="separateur"></div>

    <section class="coordonnees">
      <h2>Coordonnées</h2>
      <p>bonhommejulie.pro@gmail.com</p>
      <p>+33 07 82 63 31 23</p>
      <p>Ivry-sur-Seine</p>
    </section>
  </section>
</div>
