/* You can add global styles to this file, and also import other style files */

body
{
  /*Variables*/
  --title: "Montserrat";
  --text_bloc: "Roboto";

  --black: #353A47;
  --dark_black: #21232AFF;
  --light_black: #979aaf;

  --red: #A63446;
  --white: #FBFEF9;
}
