/*Style de la liste des projets. Variables (polices, couleurs...) déclarées dans ../styles.css*/

.all
{
  padding: 2%;
  background-color: var(--black);
}

.all > h2, .all > h3
{
  text-align: center;
  color: white;
}

.all > h3
{
  font-style: italic;
}

span
{
  color: var(--red);
}

.project-list
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  flex-wrap: wrap;
}

.project
{
  padding: 2%;
  margin: 3%;

  height: 20em;
  width: 15em;

  color: var(--white);

  border: 2px var(--dark_black) solid;
  box-shadow: 10px 10px var(--dark_black);
}

.project > a
{
  text-align: center;
  font-family: var(--title);

  color: white;
  text-decoration: none;

  transition: color 150ms ease;
}

.project > a:hover
{
  color: var(--red);
}

.indispo
{
  color: var(--red);
}

.project > img
{
  width: 100%;
}

.description
{
  /*Au cas où*/
  overflow: scroll;
}
