<div class="all">
  <h2>Voici mes projets réalisés jusqu'à maintenant !</h2>
  <h3>Cliquez sur le nom d'un projet pour le découvrir !<br>
    [Ceux en <span>rouge</span> ne sont pas encore disponibles ou impossibles à partager comme tels.]<br>
  Cliquez sur le logo de Github pour accéder à son repository Github.</h3>

  <section class="project-list">
    <div class="project" *ngFor="let project of projects">
      <!-- Donner une classe en fonction de project.dispo (if...) -->
      <a *ngIf="project.lien_VM" class="dispo" href='{{ project.lien_VM }}'><h2>{{ project.name }}</h2></a>
      <a *ngIf="project.lien_VM == null" class="indispo"><h2>{{ project.name }}</h2></a>

      <img *ngIf="project.image" src="{{ project.image }}">

      <p>> {{ project.tech }}</p>

      <p>{{ project.date }}</p>

      <p class="description" *ngIf="project.description">
        {{ project.description }}
      </p>
    </div>
  </section>
</div>
