<div class="all">
  <h2>Voici mes projets réalisés jusqu'à maintenant !</h2>
  <h3>Cliquez sur le nom d'un projet pour le découvrir ! [Ceux en <span>rouge</span> ne sont pas encore disponibles.]<br>
  Cliquez sur le logo de Github pour accéder à son repository Github.</h3>

  <section class="project-list">
    <div class="project" *ngFor="let project of projects">
      <a href='#'><h3>{{ project.name }}</h3></a>

      <img *ngIf="project.image" src="{{ project.image }}">

      <p>> {{ project.tech }}</p>

      <p>{{ project.date }}</p>

      <p class="description" *ngIf="project.description">
        {{ project.description }}
      </p>
    </div>
  </section>
</div>
