/*Style de la partie infos.*/
/*Variables (polices, couleurs...) déclarées dans ../styles.css*/

.all
{
  background-color: var(--black);
  padding-top: 0.1%;

  border-bottom: 4px var(--dark_black) solid;

  display: flex;
  flex-direction: column;
}

.all > h2, .all > h3
{
  text-align: center;
  color: white;
}

.all > h3
{
  font-style: italic;
}

a
{
  color: var(--light_black);
  text-decoration: none;

  transition: color 150ms ease;
}

a:hover
{
  color: var(--red);
}

.info1, .info2
{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: var(--white);

  width: 96%;
  text-align: center;
  align-self: center;

  border-top: 4px var(--dark_black) solid;
}

.info1 > div
{
  width: 50%;
  padding: 1%;
}

.info2 > div
{
  width: 33.3%;
  padding: 1%;
}

.experience, .competences, .langues
{
  border-right: 2px var(--dark_black) solid;
}

.formation, .interets, .langues
{
  border-left: 2px var(--dark_black) solid;
}

.formation, .experience
{
  line-height: 1.7em;
}

.competences > section
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.competences > section > div > h3
{
  text-decoration: underline;
}

.info1 > div > h2, .info2 > div > h2
{
  color: white;
  font-family: var(--title);
  text-decoration: underline;
}

@media screen and (max-width: 1400px) {
  .competences > section {
    flex-direction: column;
  }
}
