<div class="all">
  <h2>Et voici mon CV !</h2>
  <!-- Lien affichage -->
  <h3>Vous le trouverez au format PDF <a href='assets/BONHOMMEJulie_CV.pdf' target="_blank">ici.</a></h3>
  <!-- Lien téléchargement -->
  <!-- <h3>Vous pouvez le télécharger au format PDF <a href='assets/BONHOMMEJulie_CV.pdf' download>ici.</a></h3> -->

  <section class="info1">
    <div class="experience">
      <h2>Expérience professionnelle</h2>
      <p>
        Apprentissage de différents métiers de l'informatique en stage à Orange<br>
        > Février 2018 / Guyancourt<br>
        Découverte de certains métiers du monde informatique (développeur, architecte, chef de projet) et ateliers de programmation en Python.
      </p>
    </div>

    <div class="formation">
      <h2>Formations</h2>

      <p>
        Année de préparation à l'ETNA - Chargée de projets informatiques<br>
        > Septembre 2021 - Janvier 2023 / Campus Paris - Ivry<br>
        6 mois de cours en pédagogie par projets (dont 3 semaines de piscine et 3 de Hackaton) et 9 mois d'alternance.
      </p>
      <p>
        Baccalauréat Spécialités NSI - Mathématiques (Mention très bien)<br>
        > 2021 / Lycée Jean Monnet, La Queue-Lez-Yvelines
      </p>
    </div>
  </section>

  <section class="info2">
    <div class="competences">
      <h2>Compétences</h2>

      <section>
        <div>
          <h3>Développement Web</h3>
          <p>JavaScript</p>
          <p>HTML / CSS</p>
          <p>PHP</p>
          <p>MySQL</p>
        </div>

        <div>
          <h3>Développement Autre</h3>
          <p>Python</p>
          <p>Linux</p>
          <p>Git</p>
          <p>Godot, GDScript</p>
        </div>

        <div>
          <h3>Autres compétences</h3>
          <p>Pack Office</p>
          <p>Design</p>
        </div>
      </section>
    </div>

    <div class="langues">
      <h2>Langues</h2>

      <p>Français - Natif</p>
      <p>Anglais - C1</p>
      <p>Espagnol - B1/B2</p>
    </div>

    <div class="interets">
      <h2>Centres d'intérêt</h2>

      <p>Dessin / Graphisme / DIY (dessin digital - sur tablette et traditionnel - sur papier)</p>
      <p>Musique (rock, ost de jeux et dessins animés, pop...)</p>
      <p>Jeux-vidéo (Mario, Zelda, Undertale, Minecraft...)</p>
      <p>Dessins animés, bandes dessinées et mangas</p>
    </div>
  </section>
</div>
